@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'cyber';
    src: url('../fonts/Cyber-BoldRustique.ttf') format('truetype')
   ;
}

@font-face {
    font-family: 'cybertooth';
    src: url('../fonts/CYBERTOOTH.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
   max-width: 1500px;
   min-width: 350px;
   min-height:100vh;
}

header{
    background-color:#01012B ;
    text-align: center;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.349);
    
}
section {
    background-color: #d1f7ff;
}


header > h1 {
    color: #ff2a6d;
    padding-top: 40px;
    text-shadow: 2px 2px 10px #005678;
    font-size: 3em;
    font-family: 'cyber',sans-serif;
}

header > h2 {
    color: #05D9E8;
    padding-bottom: 40px;
}

header > h1 > a {
    text-decoration: none;
    color: #ff2a6d;
   
}

header > h1 > a:hover {
   color: #d1f7ff;
   text-shadow: 2px 2px 3px #ff2a6d;
   
}

section {
    background-color: rgb(214, 233, 251);
    color: #ff2a6d;
    line-height: 60px;
    font-family: 'cybertooth';
    
}

section > p {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 2px #01012B;
    
}

section#Imagem {
    background-color: #d1f7ff;
    background-image: url("../imagens/cyber.jpg");
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.433);
}

    section#Imagem > p {
    background-color: rgba(0, 0, 0, 0.308);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    }
  
footer {
    text-align: center;
    background-color: #01012B;
    color: white;
    padding: 7px;
}